{{ 'section-description-with-logo.css' | asset_url | stylesheet_tag }}

<div class="description-with-logo__section" style="background-color: {{ section.settings.background }} ">
    <h1 class="description-with-logo__title"> {{ section.settings.title-section }}</h1>
    <p class="description-with-logo__paragraph">{{ section.settings.paragraph-section }}</p>
    <div class="description-with-logo__logosWrapper">
        {% for block in section.blocks%}
        <div class="logo__wrapper">
            <a class="logo-link {% if block.settings.checkbox-reverse %} column {% else %} reverse {% endif %}" href="{{ block.settings.link }}">
                <img class="logo-image" src="{{ block.settings.image | img_url: 'master' }}" >
                <p class="logo-text ">{{ block.settings.text-logo }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "t:sections.description-with-logo.name",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title-section",
            "default": "Title",
            "label": "t:sections.description-with-logo.settings.title.label"
        },
        {
            "type": "textarea",
            "id": "paragraph-section",
            "default": "Paragraph",
            "label": "t:sections.description-with-logo.settings.paragraph.label"
        },
        {
          "type": "color",
          "id": "background",
          "default": "#ffffff",
          "label": "t:sections.description-with-logo.settings.background_color.label"
        }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.description-with-logo.settings.logo_image.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.description-with-logo.settings.logo_link.label",
            "info": "Optional"
          },
          {
            "type": "text",
            "id": "text-logo",
            "label": "t:sections.description-with-logo.settings.logo_text.label",
            "info": "Optional"
          },
          {
            "type": "checkbox",
            "id": "checkbox-reverse",
            "default": true,
            "label": "t:sections.description-with-logo.settings.logo_text.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.description-with-logo.name"
      }
    ]
}
{% endschema %}