{{ 'section-nos-atouts.css' |  asset_url | stylesheet_tag }}

<div class="section-nos-atouts page-width">
    <h2 class="section-nos-atouts__title">{{ section.settings.title-section }}</h2>
    <div class="nos-atouts__wrapper">
        {% for block in section.blocks%}
        <div class="nos-atouts__details">
            <i class="{{ block.settings.text-fontawesome}}"></i>
            <h3 class="section-nos-atouts__detailsTitle"> {{ block.settings.text-title}} </h3>
            <p class="section-nos-atouts__detailsParagraph">{{ block.settings.text-logo }}</p>
        </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "nos-atouts",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title-section",
            "default": "Title",
            "label": "Title"
        }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "text",
            "id": "text-fontawesome",
            "default": "fas fa-shipping-fast",
            "label": "Fontawesome code"
          },
          {
            "type": "text",
            "id": "text-title",
            "default": "Livraison gratuite",
            "label": "Fontawesome code"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link to a page",
            "info": "Optional"
          },
          {
            "type": "text",
            "id": "text-logo",
            "default": "texte du logo",
            "label": "Text of logo",
            "info": "Optional"
          },
          {
            "type": "checkbox",
            "id": "checkbox-reverse",
            "default": true,
            "label": "Reverse direction"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Nos Atouts"
      }
    ]
}
{% endschema %}